.container {
    height: 85vh;
    max-height: 800px;
}

.sbt-container {
    max-width: 400px;
    min-width: 300px;

    // background-color: #faaca8;
    // background-image: linear-gradient(19deg, #faaca8 0%, #ddd6f3 100%);
    // background-color: #8bc6ec;
    // background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);
    // background-color: #43CBFF;
    // background-image: linear-gradient( 135deg, #43CBFF 10%, #9708CC 100%);
    background-color: #C2FFD8;
    background-image: linear-gradient(304deg, #C2FFD8 10%, #465EFB 100%);
}

.claimed-overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.68);
}

.claimed-overlay p {
    transform: rotate(327deg);
}

.image-container {
    position: relative;
    background-color: #fff;
}

.data-container {
    background-color: #fff;
}

.claim-container {
    // width: 100%;
}

.flavor-text-linear {
    text-align: center;
    
    background: linear-gradient(to right, #43CBFF 20%, #465EFB 40%, #465EFB 60%, #43CBFF 80%);
    background-size: 200% auto;
    
    color: #000;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    animation: shine 1.5s linear infinite;
    @keyframes shine {
      to {
        background-position: 200% center;
      }
    }
  }
