<div class="container d-flex gap-5-dynamic" *ngIf="metaData && eventData">


    <div class="w-100 h-100 d-flex justify-content-center align-items-center" *ngIf="pageLoading">
        <img src="assets/img/loader.svg" alt="loader">
    </div>
    <div class="w-100" *ngIf="!pageLoading">
        <div class="token-container">
            <token [eventData]="eventData" [metaData]="metaData" [invalidClaimAttempt]="invalidClaimAttempt"
                [currentRoute]="currentRoute"></token>
        </div>
        <!-- Non pre-issued token -->
        <ng-container *ngIf="!eventData.restricted && eventData.count >= eventData.limit">
            <div class="text-center text-container mt-3">
                <p class="display-5">😞 Zero tokens left 😞</p>
                <p>Reach out to the event owner <span
                        matTooltip="{{eventData.owner}}">{{stringFormatterService.truncateAddress(eventData.owner)}}</span>
                    and ask them to issuer more!</p>
            </div>
        </ng-container>
        <ng-container *ngIf="!eventData.restricted && eventData.count < eventData.limit">
            <div class="text-center text-container mt-3">
                <p class="flavor-text-linear font-weight-bold display-6">{{metaData.name}}</p>
                <p *ngIf="eventData.limit" class="display-6 font-weight-bold"> {{eventData.count +
                    1}}/{{eventData.limit}}</p>
                <button type="submit" class="btn rounded-button ripple btn-primary btn-block mt-4 font-weight-bold"
                    [disabled]="submitting" (click)="claim()" *ngIf="!claimSuccess">
                    <ng-container *ngIf="!submitting">
                        Claim!
                    </ng-container>
                    <ng-container *ngIf="submitting">
                        <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                    </ng-container>
                </button>
                <h5 class="text-success" *ngIf="claimSuccess">
                    Claimed!
                </h5>
            </div>
        </ng-container>

        <!-- Pre-issued token -->
        <ng-container *ngIf="invalidClaimAttempt || (eventData.restricted && !currentRoute.includes('/issued/'))">
            <div class="text-center text-container mt-3">
                <p class="display-5">🔒 Restricted token 🔒</p>
                <p>Verify that you have a valid link or reach out to the event owner <span
                        matTooltip="{{eventData.owner}}">{{stringFormatterService.truncateAddress(eventData.owner)}}</span>
                    and get one issued to you!</p>
                <p *ngIf="currentRoute.includes('/issued/') && !this.uniqueCode"><b>NOTE: </b> Make sure you are
                    connected to us with the right wallet. <br>Connected wallet:<br> {{walletService.connectedWallet}}
                </p>
            </div>
        </ng-container>
        <ng-container *ngIf="!invalidClaimAttempt && (eventData.restricted && currentRoute.includes('/issued/'))">
            <div class="text-center text-container mt-3">
                <p style="font-size: 50px;" class="flavor-text-linear font-weight-bold display-6">{{metaData.name}}</p>
                <button type="submit" class="btn rounded-button ripple btn-primary btn-block mt-4 font-weight-bold"
                    [disabled]="submitting" (click)="claimIssuedToken()" *ngIf="!claimSuccess">
                    <ng-container *ngIf="!submitting">
                        Claim!
                    </ng-container>
                    <ng-container *ngIf="submitting">
                        <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                    </ng-container>
                </button>
                <h5 class="text-success" *ngIf="claimSuccess">
                    Claimed!
                </h5>
            </div>
        </ng-container>
    </div>
</div>