.container {
    height: 85vh;
    max-height: 800px;
}

.flavor-text-linear {
    text-align: center;
    
    background: linear-gradient(to right, #43CBFF 20%, #465EFB 40%, #465EFB 60%, #43CBFF 80%);
    background-size: 200% auto;
    
    color: #000;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    animation: shine 1.5s linear infinite;
    @keyframes shine {
      to {
        background-position: 200% center;
      }
    }
  }
