<div class="container sbt-container d-flex d-flex gap-1-rem" *ngIf="eventData">
    <div class="token-container">
        <div class="token-wrapper">
            <token [imageUrl]="imgUrl" [previewOnly]="true" [name]="formControl['name'].value || 'Name'"
                [description]="formControl['description'].value || 'Description'"></token>
        </div>
    </div>
    <div class="w-100">
        <div class="row row-sm h-100">
            <div class="col-lg-12 col-md-12 h-100">
                <div class="custom-card h-100 overflow-auto">
                    <div class="card-body h-100">
                        <p class="display-6 font-weight-bold">Created!</p>
                        <h5>Important stuff</h5>
                        <hr />
                        <p>Event ID: <b>{{importantStuff.eventId}}</b> - save this!</p>
                        <ng-container *ngIf="!restricted">
                            <p>Claim link: <b>{{importantStuff.claimLink}}</b></p>
                            <p>Limit: {{eventData.limit}}</p>
                        </ng-container>
                        <ng-container *ngIf="restricted">
                            <hr />
                            <div *ngIf="importantStuff.wallets">
                                <p><b>{{importantStuff.wallets.length}}</b> wallets</p>
                                <p>Wallet claim link: <b>{{importantStuff.claimLink}}</b></p>
                            </div>
                            <hr />
                            <div class="mh-100" *ngIf="importantStuff.emails && importantStuff.emailMapping">
                                <p><b>{{importantStuff.emails.length}}</b> emails</p>
                                <p *ngFor="let item of importantStuff.emailMapping | keyvalue">
                                    Email: {{item.key}} <br>Code: <b>{{item.value}}</b>
                                </p>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container sbt-container d-flex gap-1-rem" *ngIf="!eventData && !metaData">
    <!-- Display token -->
    <div class="token-container">
        <token [imageUrl]="imgUrl" [previewOnly]="true" [name]="formControl['name'].value || 'Name'"
            [description]="formControl['description'].value || 'Description'"></token>
    </div>

    <!-- Form -->
    <div class="row row-sm">
        <div class="col-lg-12 col-md-12">
            <div class="custom-card">
                <div class="card-body">
                    <form [formGroup]="form" (ngSubmit)="submit()" novalidate>
                        <div class="">
                            <div class="row row-sm">
                                <div class="col-lg-12 form-group">
                                    <label class="form-label">Upload Image: <span class="tx-danger">*</span>
                                    </label>
                                    <div class="row justify-content-center">
                                        <button class="absolute-close" *ngIf="imgUrl" mat-icon-button
                                            aria-label="Re-select image" matTooltip="Pick new image"
                                            (click)="imgUrl = undefined">
                                            <mat-icon>close</mat-icon>
                                        </button>
                                    </div>
                                    <file-upload *ngIf="!imgUrl" (fileSelected)="onImageSelected($event)">
                                    </file-upload>
                                </div>
                                <div class="col-lg-12 form-group">
                                    <label class="form-label">Name: <span class="tx-danger">*</span>
                                        <input class="form-control" formControlName="name" placeholder="Item name"
                                            [attr.disabled]="submitting ? true : null"
                                            [ngClass]="{'has-success': formControl['name'].valid}">
                                    </label>
                                    <p *ngIf="formControl['name'].invalid && !formControl['name'].pristine"
                                        class="tx-danger">
                                        Required
                                    </p>
                                </div>
                                <div class="col-lg-12 form-group">
                                    <label class="form-label">Description:
                                        <textarea class="form-control col-xl-12 col-lg-12 col-md-12 col-xs-12"
                                            placeholder="Detailed description about your SBT"
                                            formControlName="description" [attr.disabled]="submitting ? true : null"
                                            [ngClass]="{'has-success': formControl['description'].valid}"></textarea>
                                    </label>
                                </div>
                                <div class="col-lg-12 form-group">
                                    <label class="form-label mb-3">Burn Authorization: <span class="tx-danger">*</span>
                                        <span class="custom-switch-description ms-2">
                                            <mat-icon class="text-muted help-icon"
                                                matTooltip="Choose who can revoke/destory this token once it has been claimed.">
                                                help</mat-icon>
                                        </span>
                                    </label>
                                    <div class="custom-controls-stacked d-flex radio-container">
                                        <div class="form-check form-check-inline">
                                            <label class="custom-control custom-radio custom-control">
                                                <input type="radio" class="custom-control-input" name="burnAuth"
                                                    value="0" formControlName="burnAuth">
                                                <span
                                                    class="custom-control-label custom-control-label tx-15">Issuer</span>
                                            </label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <label class="custom-control custom-radio custom-control">
                                                <input type="radio" class="custom-control-input" name="burnAuth"
                                                    value="1" formControlName="burnAuth">
                                                <span
                                                    class="custom-control-label custom-control-label tx-15">Claimer</span>
                                            </label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <label class="custom-control custom-radio custom-control">
                                                <input type="radio" class="custom-control-input" name="burnAuth"
                                                    value="2" formControlName="burnAuth">
                                                <span class="custom-control-label custom-control-label tx-15">Issuer
                                                    & Claimer</span>
                                            </label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <label class="custom-control custom-radio custom-control">
                                                <input type="radio" class="custom-control-input" name="burnAuth"
                                                    value="3" formControlName="burnAuth">
                                                <span
                                                    class="custom-control-label custom-control-label tx-15">Neither</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 form-group">
                                    <label class="form-label">Link:
                                        <input class="form-control" formControlName="externalLink"
                                            placeholder="(optional) External link"
                                            [attr.disabled]="submitting ? true : null"
                                            [ngClass]="{'has-success': formControl['externalLink'].valid}">
                                    </label>
                                </div>
                                <div class="col-lg-12 form-group">
                                    <label class="custom-switch form-switch mb-0 p-0">
                                        <span class="custom-switch-description  tx-15 me-2">Restricted: </span>
                                        <input type="checkbox" name="custom-switch-radio" class="custom-switch-input"
                                            [checked]="restricted" (change)="setToggleValidators(true)">
                                        <span class="custom-switch-indicator custom-switch-indicator-lg"></span>
                                        <span class="custom-switch-description ms-2">
                                            <mat-icon class="text-muted help-icon"
                                                matTooltip="This allow you to control who can claim this token.">
                                                help</mat-icon>
                                        </span>
                                    </label>
                                </div>

                                <div class="col-lg-12 form-group" *ngIf="restricted">
                                    <label class="form-label">Issue to: <span class="tx-danger">*</span>
                                        <textarea class="form-control col-xl-12 col-lg-12 col-md-12 col-xs-12"
                                            placeholder="Comma separated list of wallet addresses and/or emails"
                                            formControlName="issueTo" [attr.disabled]="submitting ? true : null"
                                            [ngClass]="{'has-success': formControl['issueTo'].valid}"></textarea>
                                    </label>
                                    <p *ngIf="formControl['issueTo'].invalid && !formControl['issueTo'].pristine"
                                        class="tx-danger">
                                        Required
                                    </p>
                                </div>

                                <div class="col-lg-12 form-group" *ngIf="!restricted">
                                    <label class="form-label">Token limit: <span class="tx-danger">*</span>
                                        <input class="form-control" formControlName="tokenLimit"
                                            placeholder="Max amount of claimable tokens"
                                            [attr.disabled]="submitting ? true : null"
                                            [ngClass]="{'has-success': formControl['tokenLimit'].valid}">
                                    </label>
                                    <p *ngIf="formControl['tokenLimit'].invalid && !formControl['tokenLimit'].pristine"
                                        class="tx-danger">
                                        Must be 1-10000
                                    </p>
                                </div>
                            </div>
                            <button type="submit" class="btn ripple btn-primary btn-block mt-4 rounded-button"
                                [disabled]="submitting || (form.dirty && (form.invalid || !imgUrl))">
                                <ng-container *ngIf="!submitting">
                                    Create
                                </ng-container>
                                <ng-container *ngIf="submitting">
                                    <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                                </ng-container>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
    <!-- </div> -->

</div>



<ng-template #attributesModal>
    <attributes-modal></attributes-modal>
</ng-template>