.card-body {
    padding-top: 0;
}

.gap-1-rem {
    gap: 1rem;
}

.token-wrapper {
    max-width: 300px;
}

.custom-controls-stacked {
    grid-gap: 12px;
}

@media (max-width: 415px) {
    .card {
        padding: 0;
    }
}

@media (max-width: 720px) {
    .radio-container {
        flex-direction: column;
    }
}

@media (max-width: 700px) {
    .container {
        padding: 0;
    }
}

@media (max-width: 936px) {

    .token-container {
        display: flex;
        justify-content: center;
    }

    .media-hidden {
        display: none;
    }

    .container {
        height: unset;
        max-height: unset;
        flex-direction: column;
    }

    .gap-5-dynamic {
        gap: 1rem;
    }
}
