<div class="container sbt-container d-flex gap-5-dynamic" *ngIf="eventData && metaData">
    <ng-container>
        <token [eventData]="eventData" [metaData]="metaData"></token>
    </ng-container>
    <div class="w-100">
        <div class="row row-sm h-100">
            <div class="col-lg-12 col-md-12 h-100">
                <div class="card custom-card h-100 overflow-auto">
                    <div class="card-body h-100">
                        <p class="display-6 font-weight-bold">Created!</p>
                        <h5>Important stuff</h5>
                        <hr />
                        <p>Event ID: <b>{{importantStuff.eventId}}</b> - save this!</p>
                        <ng-container *ngIf="!restricted">
                            <p>Claim link: <b>{{importantStuff.claimLink}}</b></p>
                            <p>Limit: {{eventData.limit}}</p>
                        </ng-container>
                        <ng-container *ngIf="restricted">
                            <hr />
                            <div *ngIf="importantStuff.wallets">
                                <p><b>{{importantStuff.wallets.length}}</b> wallets</p>
                                <p>Wallet claim link: <b>{{importantStuff.claimLink}}</b></p>
                            </div>
                            <hr />
                            <div class="mh-100" *ngIf="importantStuff.emails && importantStuff.emailMapping">
                                <p><b>{{importantStuff.emails.length}}</b> emails</p>
                                <p *ngFor="let item of importantStuff.emailMapping | keyvalue">
                                    Email: {{item.key}} <br>Code: <b>{{item.value}}</b>
                                </p>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" *ngIf="!eventData && !metaData">
    <h1>Create SBT</h1>

    <!-- <div class="row justify-content-center gap-4 mt-4">
        <div class="card action-card" style="width: 18rem;">
            <i class='bx bxs-pencil' style="font-size: 100px;"></i>
            <div class="card-body">
                <h5 class="card-title">SBT Wizard</h5>
                <p class="card-text">Upload image, add attributes and create your SBT!</p>
            </div>
        </div>

        <div class="card" style="width: 18rem;cursor: not-allowed;">
            <i class='bx bxs-file' style="font-size: 100px;"></i>
            <div class="card-body">
                <h5 class="card-title">json file upload</h5>
                <p class="card-text">Coming soon!</p>
            </div>
        </div>
    </div> -->

    <div class="row row-sm">
        <div class="col-lg-12 col-md-12">
            <div class="card custom-card">
                <div class="card-body">
                    <!-- TODO(nocs): take this form out of the card when on mobile -->
                    <form [formGroup]="form" (ngSubmit)="submit()" novalidate>
                        <div class="">
                            <div class="row row-sm">
                                <div class="col-lg-12 form-group">
                                    <label class="form-label">Upload Image: <span class="tx-danger">*</span>
                                    </label>
                                    <div class="row justify-content-center">
                                        <img [src]="imgURL" height="200" *ngIf="imgURL">
                                        <button class="absolute-close" *ngIf="imgURL" mat-icon-button
                                            aria-label="Re-select image" matTooltip="Pick again"
                                            (click)="imgURL = undefined">
                                            <mat-icon>close</mat-icon>
                                        </button>
                                    </div>
                                    <file-upload *ngIf="!imgURL" (fileSelected)="onImageSelected($event)">
                                    </file-upload>
                                </div>
                                <div class="col-lg-12 form-group">
                                    <label class="form-label">Name: <span class="tx-danger">*</span>
                                        <input class="form-control" formControlName="name" placeholder="Item name"
                                            [attr.disabled]="submitting ? true : null"
                                            [ngClass]="{'has-success': formControl['name'].valid}">
                                    </label>
                                </div>
                                <div class="col-lg-12 form-group">
                                    <label class="form-label">Description: <span class="tx-danger">*</span>
                                        <textarea class="form-control col-xl-12 col-lg-12 col-md-12 col-xs-12"
                                            placeholder="Detailed description about your SBT"
                                            formControlName="description" [attr.disabled]="submitting ? true : null"
                                            [ngClass]="{'has-success': formControl['description'].valid}"></textarea>
                                    </label>
                                </div>
                                <div class="col-lg-12 form-group">
                                    <label class="form-label mb-3">Burn Authorization: <span class="tx-danger">*</span>
                                        <span class="custom-switch-description ms-2">
                                            <mat-icon class="text-muted help-icon"
                                                matTooltip="Choose who can revoke/destory this token once it has been claimed.">
                                                help</mat-icon>
                                        </span>
                                    </label>
                                    <div class="custom-controls-stacked d-flex radio-container">
                                        <div class="form-check form-check-inline">
                                            <label class="custom-control custom-radio custom-control-md">
                                                <input type="radio" class="custom-control-input" name="burnAuth"
                                                    value="0" formControlName="burnAuth">
                                                <span
                                                    class="custom-control-label custom-control-label-md  tx-17">Issuer</span>
                                            </label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <label class="custom-control custom-radio custom-control-md">
                                                <input type="radio" class="custom-control-input" name="burnAuth"
                                                    value="1" formControlName="burnAuth">
                                                <span
                                                    class="custom-control-label custom-control-label-md  tx-17">Claimer</span>
                                            </label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <label class="custom-control custom-radio custom-control-md">
                                                <input type="radio" class="custom-control-input" name="burnAuth"
                                                    value="2" formControlName="burnAuth">
                                                <span class="custom-control-label custom-control-label-md  tx-17">Issuer
                                                    & Claimer</span>
                                            </label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <label class="custom-control custom-radio custom-control-md">
                                                <input type="radio" class="custom-control-input" name="burnAuth"
                                                    value="3" formControlName="burnAuth">
                                                <span
                                                    class="custom-control-label custom-control-label-md  tx-17">Neither</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 form-group">
                                    <label class="form-label">External link:
                                        <input class="form-control" formControlName="externalLink"
                                            placeholder="(optional) Your sites URL"
                                            [attr.disabled]="submitting ? true : null"
                                            [ngClass]="{'has-success': formControl['externalLink'].valid}">
                                    </label>
                                </div>
                                <div class="col-lg-12 form-group">
                                    <label class="custom-switch form-switch mb-0 p-0">
                                        <span class="custom-switch-description  tx-17 me-2">Restricted: </span>
                                        <input type="checkbox" name="custom-switch-radio" class="custom-switch-input"
                                            [checked]="restricted" (change)="restricted = !restricted">
                                        <span class="custom-switch-indicator custom-switch-indicator-lg"></span>
                                        <span class="custom-switch-description ms-2">
                                            <mat-icon class="text-muted help-icon"
                                                matTooltip="This allow you to control who can claim this token.">
                                                help</mat-icon>
                                        </span>
                                    </label>
                                </div>

                                <div class="col-lg-12 form-group" *ngIf="restricted">
                                    <label class="form-label">Issue to: <span class="tx-danger">*</span>
                                        <input class="form-control" formControlName="issueTo"
                                            placeholder="Comma separated list of wallet addresses and/or emails"
                                            [attr.disabled]="submitting ? true : null"
                                            [ngClass]="{'has-success': formControl['issueTo'].valid}">
                                    </label>
                                </div>

                                <div class="col-lg-12 form-group" *ngIf="!restricted">
                                    <label class="form-label">Token limit: <span class="tx-danger">*</span>
                                        <input class="form-control" formControlName="tokenLimit"
                                            placeholder="Max amount of claimable tokens"
                                            [attr.disabled]="submitting ? true : null"
                                            [ngClass]="{'has-success': formControl['tokenLimit'].valid}">
                                    </label>
                                    <p *ngIf="formControl['tokenLimit'].invalid && !formControl['tokenLimit'].pristine"
                                        class="tx-danger">
                                        Must be 1-10000
                                    </p>
                                </div>
                                <!-- TODO(nocs): build out attributes -->
                                <!-- <div class="row col-lg-12 align-items-center">
                                    <div>
                                        <h5>Attributes</h5>
                                        <p>Traits for adding extra information to your SBT</p>
                                    </div>
                                    <div class="col-1">
                                        <button type="submit" class="btn ripple btn-primary btn-block"
                                            (click)="openAttributeDialog()">+</button>
                                    </div>
                                </div> -->
                            </div>
                            <button type="submit" class="btn ripple btn-primary btn-block mt-4" [disabled]="submitting">
                                <ng-container *ngIf="!submitting">
                                    Create
                                </ng-container>
                                <ng-container *ngIf="submitting">
                                    <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                                </ng-container>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>



<ng-template #attributesModal>
    <attributes-modal></attributes-modal>
</ng-template>