<app-page-header [title]="headerTitle" [items]="headerTitle === 'Back' ? ['Home'] : []"
    [active_item]="headerTitle === 'Back' ? 'Summary' : ''" (breadcrumbClick)="onBreadcrumbClick($event)">
</app-page-header>

<div class="row" *ngIf="viewingSummary && negativeFeedback.displayTextBox">
    <div class="col-xl-12 col-12">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-xs-12">
                <div class="card mb-3">
                    <button class="absolute-close" *ngIf="!negativeFeedback.submitting" mat-icon-button
                        aria-label="Close feedback input card" matTooltip="Close"
                        (click)="negativeFeedback.displayTextBox = false;">
                        <mat-icon>close</mat-icon>
                    </button>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <span>Thanks for your feedback! Please include more details on what you'd like to see
                                    improved with the summary.</span>

                                <textarea #negativeFeedbackTextarea
                                    class="form-control col-xl-12 col-lg-12 col-md-12 col-xs-12 mt-2"
                                    placeholder="Feedback here" [formControl]="negativeFeedbackControl"></textarea>

                                <button class="btn btn-primary shadow col-xl-12 col-lg-12 col-md-12 col-xs-12 mt-3"
                                    [disabled]="negativeFeedback.submitting || !negativeFeedbackControl.value"
                                    (click)="submitFeedback(0, false)">
                                    <ng-container *ngIf="!negativeFeedback.submitting">
                                        Submit feedback
                                    </ng-container>
                                    <ng-container *ngIf="negativeFeedback.submitting">
                                        <span class="spinner-grow spinner-grow-sm" role="status"
                                            aria-hidden="true"></span>
                                        Submitting...
                                    </ng-container>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" *ngIf="!viewingSummary">
    <div class="col-xl-12 col-12">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-xs-12">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <!-- Returning user -->
                                <div class="text-justified align-items-center" *ngIf="user && yesterday > user.created">
                                    <h3 class="text-dark font-weight-semibold mb-2 mt-0">Hi
                                        {{user.email.split('@')[0]}}, welcome back!</h3>
                                    <ng-container>
                                        <p class="text-dark tx-14 mb-3 lh-3">Upload a document or paste your text below
                                            to get a summary!</p>
                                    </ng-container>
                                    <ng-container *ngIf="user.credits + user.creditsBonus <= 3">
                                        <p class="text-dark tx-14 mb-3 lh-3">
                                            You have <span><a [ngClass]="{'text-primary': user.credits + user.creditsBonus >= 4, 'text-warning': user.credits + user.creditsBonus <= 3,
                                                'text-danger': user.credits + user.creditsBonus <= 2}"
                                                    routerLink="/account">{{user.credits +
                                                    user.creditsBonus}} point{{user.credits + user.creditsBonus === 1 ?
                                                    '' : 's'}}</a></span> remaining.

                                            <span>
                                                Please see <a routerLink="/account" class="text-primary">Account</a>
                                                page for more details.
                                            </span>
                                        </p>
                                    </ng-container>
                                </div>

                                <!-- New user -->
                                <div class="text-justified align-items-center" *ngIf="user && yesterday < user.created">
                                    <h3 class="text-dark font-weight-semibold mb-2 mt-0" *ngIf="user">Hi
                                        {{user.email.split('@')[0]}}, welcome to <span class="flavor-semicolon text-primary">S</span>yfted</h3>
                                    <p class="text-dark tx-14 mb-3 lh-3">Upload a document or paste your text below to
                                        get a summary!</p>

                                    <ng-container *ngIf="user.credits + user.creditsBonus <= 3">
                                        <p class="text-dark tx-14 mb-3 lh-3">
                                            You have <span><a [ngClass]="{'text-primary': user.credits + user.creditsBonus >= 4, 'text-warning': user.credits + user.creditsBonus <= 3,
                                                'text-danger': user.credits + user.creditsBonus <= 2}"
                                                    routerLink="/account">{{user.credits +
                                                    user.creditsBonus}} point{{user.credits + user.creditsBonus === 1 ?
                                                    '' : 's'}}</a></span> remaining.

                                            <span>
                                                Please see <a routerLink="/account" class="text-primary">Account</a>
                                                page for more details.
                                            </span>
                                        </p>
                                    </ng-container>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 col-xl-6" [formGroup]="form">
        <div class="card" [ngClass]="{'smaller-bottom': pointCost}">
            <!-- Image viewer -->
            <ng-container *ngIf="imgSrc">
                <div class="card-header pb-3">
                    <h3 class="card-title mb-2">Original Image</h3>
                </div>
                <div style="text-align: center;">
                    <i class='bx bxs-image uploaded-file__icon' style="font-size: 3em;"></i>
                    <p>Image preview not available</p>
                </div>
            </ng-container>
            <!-- PDF viewer -->
            <ng-container *ngIf="pdfSrc && mobileScreen">
                <div class="card-header pb-3">
                    <h3 class="card-title mb-2">Original Document</h3>
                </div>
                <div style="text-align: center;">
                    <i class='bx bxs-file-blank uploaded-file__icon' style="font-size: 3em;"></i>
                    <p>Document preview not available on mobile</p>
                </div>
            </ng-container>
            <ng-container *ngIf="pdfSrc && !mobileScreen">
                <div class="card-header pb-3">
                    <h3 class="card-title mb-2">Original Document</h3>
                </div>
                <pdf-viewer *ngIf="pdfSrc" [src]="pdfSrc" [rotation]="0" [original-size]="false" [show-all]="true"
                    [fit-to-page]="false" [zoom]="1" [zoom-scale]="'page-width'" [stick-to-page]="false"
                    [render-text]="true" [external-link-target]="'blank'" [autoresize]="true" [show-borders]="false"
                    style="width: 100%; height: 550px;">
                </pdf-viewer>
            </ng-container>

            <div class="summary-type-toggle" *ngIf="!viewingSummary">
                <mat-button-toggle-group [formControl]="summaryTypeControl">
                    <mat-button-toggle [checked]="documentSummary" value="doc" aria-label="Document upload summarizer"
                        [disabled]="submitting">
                        Document
                    </mat-button-toggle>
                    <mat-button-toggle [checked]="!documentSummary" value="text" aria-label="Raw text summarizer"
                        [disabled]="submitting">
                        Raw Text
                    </mat-button-toggle>
                </mat-button-toggle-group>
            </div>
            <!-- File upload -->
            <ng-container *ngIf="documentSummary && !viewingSummary">
                <div class="card-header pb-3">
                    <h3 class="card-title mb-2">Upload Document</h3>
                </div>
                <file-upload (fileSelected)="onFileSelected($event)"></file-upload>
            </ng-container>
            <!-- END file upload -->

            <!-- Raw text input -->
            <ng-container *ngIf="!documentSummary">
                <div class="card-header pb-3">
                    <h3 class="card-title mb-2">Paste Text</h3>
                </div>
                <div class="card-body p-0 customers mt-1 mb-2">
                    <div class="tldr-input">
                        <textarea class="form-control col-xl-12 col-lg-12 col-md-12 col-xs-12"
                            placeholder="Raw text goes here..." formControlName="inputText"
                            [attr.disabled]="submitting ? true : null"></textarea>
                        <div class="text-danger" *ngIf="formControls['inputText'].invalid">
                            {{getErrorMessage('inputText')}}
                        </div>

                        <div class="text-danger"
                            *ngIf="user && formControls['inputText'].errors && formControls['inputText'].errors['notEnoughPoints']">
                            Submitting would cost <b>{{pointCost}} point{{pointCost === 1 ? '' : 's'}}</b>. You have
                            <b>{{user.credits + user.creditsBonus}} point{{user.credits + user.creditsBonus === 1 ? '' :
                                's'}}</b> left.
                            Please see <span><a routerLink="/account" class="text-primary">Account</a></span> page for
                            more details.
                        </div>

                        <div class="mt-1">
                            <p class="upload-area__paragraph upload-area__footer">
                                <mat-icon>lock</mat-icon>
                                Secure Upload - Your text is encrypted during transfer and storage.
                            </p>
                        </div>

                        <button class="btn btn-primary shadow col-xl-12 col-lg-12 col-md-12 col-xs-12 mt-3"
                            [disabled]="submitting || (form.dirty && form.invalid)" (click)="onSubmit()">
                            <ng-container *ngIf="!submitting">
                                Send
                            </ng-container>
                            <ng-container *ngIf="submitting">
                                <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                                Sending...
                            </ng-container>
                        </button>
                    </div>

                </div>
                <div class="text-metadata" *ngIf="pointCost">
                    <!-- TODO(nocs): once greater than 1000 word count limit feature is complete, add user.membership === 0 to this ngIf -->
                    <div class="word-count" *ngIf="wordCount > 700"
                        matTooltip="During Beta, you are limited to summarizing 1,000 words at a time. Only the first 1000 words of this text will be summarized.">
                        <mat-icon *ngIf="wordCount >= 700 && wordCount < 1000" class="text-warning">warning_amber
                        </mat-icon>
                        <mat-icon *ngIf="wordCount > 1000" class="text-danger">report</mat-icon>
                        {{wordCount}} word{{wordCount === 1 ? '' : 's'}}
                    </div>
                    <div class="point-count"
                        matTooltip="Submitting would cost {{pointCost}} point{{pointCost === 1  ? '' : 's'}}."
                        *ngIf="user && user.membership !== 2">
                        <mat-icon class="margin-right-5" *ngIf="(pointCost > user.credits + user.creditsBonus)"
                            class="text-danger">report</mat-icon>
                        {{pointCost}} point{{pointCost === 1 ? '' : 's'}}
                    </div>
                    <div class="point-count" matTooltip="As a Pro member, you have unlimited points!"
                        *ngIf="user && user.membership === 2">
                        <mat-icon class="text-primary"
                            aria-label="Ininity symbol that dislpays a tooltip when hovered over">
                            all_inclusive</mat-icon>
                    </div>
                </div>
            </ng-container>
            <!-- END raw text input -->
        </div>
    </div>

    <!-- Summary Output -->
    <div class="col-lg-12 col-xl-6" [formGroup]="outputForm">
        <div class="card output-card">
            <div class="card-header-container">
                <div class="card-header pb-3">
                    <h3 class="card-title mb-2"><span class="flavor-semicolon text-primary">S</span>yfted</h3>
                </div>

                <!-- Summary feedback -->
                <div class="summary-review"
                    *ngIf="!feedbackGiven && bulletedListTldr && viewingSummary && !negativeFeedback.displayTextBox">
                    <p>Feedback: </p>
                    <button class="positive-button" mat-icon-button aria-label="Summary feedback - thumbs up"
                        matTooltip="Great summary!" (click)="onFeedbackClick(1)">
                        <mat-icon fontSet="material-icons-outlined">thumb_up</mat-icon>
                    </button>
                    <button class="negative-button" mat-icon-button aria-label="Summary feedback - thumbs down"
                        matTooltip="It could use some work." (click)="onFeedbackClick(0)">
                        <mat-icon fontSet="material-icons-outlined">thumb_down</mat-icon>
                    </button>
                </div>
                <!-- END: Summary feedback -->
            </div>

            <div class="card-body p-0 customers mt-1 mb-2">
                <div class="tldr-content">
                    <ng-container *ngIf="contentFilterLable === ContentFilterLabelType.sensitive">
                        <div class="alert alert-warning" role="alert">
                            <h4 class="alert-heading">Warning</h4>
                            <p class="text-dark">Our system has flagged the return text as "sensitive".</p>
                            <hr>
                            <p class="mb-0 text-dark">This means that the text could be talking about a sensitive topic,
                                something political, religious, or talking about a protected class such as race or
                                nationality.</p>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"
                                style="margin: 10px;" (click)="contentFilterLable = ContentFilterLabelType.safe">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </ng-container>
                    <textarea *ngIf="!bulletedListTldr && outputFormControls['outputText'].value"
                        class="form-control col-xl-12 col-lg-12 col-md-12 col-xs-12" placeholder="Syfted shows up here"
                        formControlName="outputText"
                        [attr.disabled]="!outputFormControls['outputText'].value ? true : null"></textarea>
                    <ng-container *ngIf="bulletedListTldr && contentFilterLable !== ContentFilterLabelType.unsafe">
                        <ul>
                            <li *ngFor="let tldr of bulletedListTldr">{{tldr}}</li>
                        </ul>
                    </ng-container>
                    <ng-container
                        *ngIf="!outputFormControls['outputText'].value && !submitting && contentFilterLable !== ContentFilterLabelType.unsafe">
                        <ul>
                            <li>I'm an example <span class="flavor-semicolon text-primary">S</span>yft.</li>
                            <li>Yours will look a lot like this!</li>
                            <li>Hurray for easier understanding!</li>
                            <li>If you have any questions, please reach out to us at <a class="text-primary"
                                    href="mailto:support@syfted.ai">support@syfted.ai</a>.</li>
                        </ul>
                    </ng-container>
                    <ng-container *ngIf="contentFilterLable === ContentFilterLabelType.unsafe">
                        <h1 class="text-danger">Warning!</h1>
                        <p>Our system has flagged the return text as "unsafe".</p>
                        <p>This means that the text contains profane language, prejudiced or hateful language, something
                            that could be NSFW, or text that portrays certain groups/people in a harmful manner.</p>
                        <p>Sometimes this is expected behavior because of the nature of the text that was input into the
                            system.</p>
                        <p>However, if this wasn't expected. Please reach out to us at <a class="text-primary"
                                href="mailto:support@syfted.ai">support@syfted.ai</a> and inform us of
                            what text you attempted to input.</p>
                        <p class="mt-4">NOTE: In clicking the button below, you understand the type of content you view
                            may not be appropriate for all audiences. Proceed at your own risk.
                            In doing so, you also agree to not hold Syfted or its partners responsible for any content
                            that may be offensive.</p>

                        <button class="btn btn-light col-xl-12 col-lg-12 col-md-12 col-xs-12 mt-3"
                            [disabled]="submitting || (form.dirty && form.invalid)"
                            (click)="contentFilterLable = ContentFilterLabelType.sensitive">
                            Show content
                        </button>
                    </ng-container>
                    <!-- TODO(nocs): implement fade in/out word carousel here. -->
                    <!-- See guide: https://medium.com/showpad-engineering/angular-animations-lets-create-a-carousel-with-reusable-animations-81c0dd8847e8 -->

                    <!-- TOOD(nocs): img attribution -->
                    <div class="loading-container" *ngIf="submitting">
                        <div class="tldr-loader">
                            <img src="assets/img/tldr-loading.jpg" class="tldr-loading" alt="loading spinner">
                        </div>
                        <div class="text-center mt-5">
                            <h1 [@fadeAnimation]="uploadProgressText">{{uploadProgressText}}
                                <div style="display: inline-block; margin-left: 15px;">
                                    <div class="dot-elastic"></div>
                                </div>
                            </h1>
                            <p class="text-muted">This can sometimes take 30 seconds</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>