<app-page-header [title]="'Home'" [items]="[]"
    [active_item]="''">
</app-page-header>

<div class="row">
    <div class="col-xl-12 col-12">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-xs-12">
                <div class="card mb-3">
                    <!-- <button class="absolute-close" *ngIf="!negativeFeedback.submitting" mat-icon-button
                        aria-label="Close feedback input card" matTooltip="Close"
                        (click)="negativeFeedback.displayTextBox = false;">
                        <mat-icon>close</mat-icon>
                    </button> -->
                </div>
            </div>
        </div>
    </div>
</div>

