.absolute-close {
    position: absolute;
    right: 0;
    top: 0;
}

.gap-24 {
    grid-gap: 24px;
    gap: 24px;
}

// TODO(nocs): move this to a reusable location
.card {
    padding: 0;
}

.card img {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    width: 100%;
    height: 25vw; // TODO(nocs): need to set media query to toggle this off when on small/medium screens
    object-fit: cover;
}

.card-header-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.positive-button .mat-icon, .negative-button .mat-icon {
    transform: scale(0.8);
}

.positive-button:hover {
    color: var(--primary-bg-color);
    background-color: #38cab31a;
}

.negative-button:hover {
    color: var(--red);
    background-color: #f3434314;
}

.summary-review {
    display: flex;
    align-items: baseline;

    button {
        margin-left: 5px;
    }
}

.output-card {
    max-height: 675px;
    overflow: scroll;
}

.smaller-bottom {
    padding-bottom: 15px;
}

.summary-type-toggle {
    position: absolute;
    z-index: 1;
    right: 32px;
}

.upload-area__footer {
    display: flex;
    align-items: center;
    font-size: 10px;
    margin: 0;
    color: #c4c3c4;
    
    .mat-icon {
        vertical-align: middle;
        transform: scale(0.7);
    }
}

textarea {
    height: 230px;
    resize: none;
    transition: 0.4s;
}

.tldr-loader {
    display: flex;
    justify-content: center;
}

.text-metadata {
    display: flex;
    justify-content: flex-end;
}

.point-count,
.word-count {
    background: #ececf1;
    color: #565869;
    border-radius: 5px;
    padding: 5px;
    margin-left: 5px;
    display: flex;
    align-items: center;

    .margin-right-5 {
        margin-right: 5px;
    }
}

.mat-tooltip {
    white-space: pre-line;
}

.tldr-loader {
    animation: movebounce 5s linear infinite;

    img {
        border-radius: 20px;
        width: 353px;
    }
}

@media (max-width: 469px) {
    .summary-type-toggle {
        text-align: center;
        position: initial;
    }
}

/**
 * ==============================================
 * Material Overides
 * ==============================================
 */
.mat-button-toggle-checked {
    background-color: var(--primary-bg-color) !important;
    color: #fff !important;
}

.mat-button-toggle-appearance-standard {
    background-color: #e0e0e0;
    color: #424242;
}
.mat-button-toggle-standalone.mat-button-toggle-appearance-standard,
.mat-button-toggle-group-appearance-standard {
    border: none !important;
}

.mat-button-toggle-group {
    height: 32px;
    align-items: center;
  }

/**
 * ==============================================
 * Animiations
 * ==============================================
 */
@keyframes movebounce {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(15px);
    }
    100% {
        transform: translateY(0px);
    }
}

/**
 * ==============================================
 * Dot Elastic
 * ==============================================
 */
.dot-elastic {
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: var(--primary-bg-color);
    color: var(--primary-bg-color);
    animation: dotElastic 1s infinite linear;
}

.dot-elastic::before,
.dot-elastic::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
}

.dot-elastic::before {
    left: -15px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: var(--primary-bg-color);
    color: var(--primary-bg-color);
    animation: dotElasticBefore 1s infinite linear;
}

.dot-elastic::after {
    left: 15px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: var(--primary-bg-color);
    color: var(--primary-bg-color);
    animation: dotElasticAfter 1s infinite linear;
}

@keyframes dotElasticBefore {
    0% {
        transform: scale(1, 1);
    }
    25% {
        transform: scale(1, 1.5);
    }
    50% {
        transform: scale(1, 0.67);
    }
    75% {
        transform: scale(1, 1);
    }
    100% {
        transform: scale(1, 1);
    }
}

@keyframes dotElastic {
    0% {
        transform: scale(1, 1);
    }
    25% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(1, 1.5);
    }
    75% {
        transform: scale(1, 1);
    }
    100% {
        transform: scale(1, 1);
    }
}

@keyframes dotElasticAfter {
    0% {
        transform: scale(1, 1);
    }
    25% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(1, 0.67);
    }
    75% {
        transform: scale(1, 1.5);
    }
    100% {
        transform: scale(1, 1);
    }
}
/**
 * ==============================================
 * END Dot Elastic
 * ==============================================
 */
