
<!-- Upload Area -->
<input type="file" class="file-input" accept="image/*" (change)="onFileSelected($event);" #fileUpload>

<div id="uploadArea" class="upload-area mb-3" (click)="fileUpload.click();" (dragover)="$event.preventDefault();"
    (drop)="onDropSuccess($event)">
    <!-- Header -->
    <!-- <div>
        <p class="upload-area__paragraph">
            JPG, PNG, or GIF
        </p>
    </div> -->
    <!-- End Header -->

    <!-- Drop Zoon -->
    <div id="dropZoon" class="upload-area__drop-zone drop-zone">
        <span class="drop-zone__icon">
            <i class='bx bxs-image'></i>
        </span>
        <p class="drop-zone__paragraph">Drop image here or click to browse</p>
        <span id="loadingText" class="drop-zone__loading-text">Please Wait</span>
    </div>
    <!-- End Drop Zoon -->

</div>
<!-- End Upload Area -->