<div id="cards_landscape_wrap-2">
    <div class="container">
        <div class="row gap-4 justify-content-center">
            <div class="card-flyer-container col-xs-12 col-sm-6 col-md-3 col-lg-3" *ngFor="let token of tokens">
                <div class="card-flyer hover cursor-pointer">
                    <div class="text-box">
                        <div class="image-box">
                            <img [defaultImage]="'assets/img/placeholder.png'" [lazyLoad]="token.image">
                        </div>
                        <div class="text-container">
                            <h5 class="card-title">{{token.name}}</h5>
                            <p class="card-flyer-body">{{stringFormatterService.truncateString(token.description, 79)}}</p>
                            <p class="text-muted card-footer">Issued by XX - XX22</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>